<%inherit file="base.htm" />

<%block name="content">
        <h3>About the American Heritage Foundation</h3>
        <p>The Colonial Heritage Foundation (the Foundation) is a 501(c)(3) corporation dedicated to the preservation of the values,
            culture, skills and history of America's founding. To accomplish this mission, the Foundation engages in a broad array of
            activities. Among these are the development and presentation of educational exhibits, the coordination of reading and discussion
            groups to encourage the study of America's historical writings, the presentation of lectures and seminars regarding America's founding
            era, the coordination of historical reenactments and skill demonstrations, and the coordination of internships and apprenticeships
            that teach the occupational skills of early America.</p>
</%block>