<%inherit file="base.htm" />

<%block name="content">
    <table class="table table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Price per Unit</td>
            <td>Quantity on Hand</td>
        </tr>
        %if product:
            <div class="col-xs-18 col-sm-4 col-md-2 col-md-offset-5">
                <div class="productbox">
                    <div class="imgthumb img-responsive">
                        <img src="${ STATIC_URL }homepage/media/products/${ product.pictureFileName }">
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xs-18 col-sm-4 col-md-2 col-md-offset-5">
                <tr>
                    <td>${ product.name }</td>
                    <td>${ product.description }</td>
                    <td>${ product.category }</td>
                    <td>${ product.unitPrice }</td>
                    <td>${ product.qtyOnHand }</td>
                </tr>
            </div>
    %endif
    </table>
    <form class="form-horizontal" role="form">
        <fieldset>



          <!-- Text input-->
            <div class="form-group col-md-12">
                          <!-- Form Name -->
                <!-- <legend class="text-center">Add to Cart <i class="fa fa-shopping-cart"></i></legend> -->
                <label class="col-md-10 control-label" for="textinput">Quantity</label>
                <div class="col-md-2">
                    <input type="text" class="form-control bfh-number" data-min="1" data-max="${ product.qtyOnHand }" value="1">
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-warning btn-lg add_to_cart" data-pid="${product.id}">Add to Cart <i class="fa fa-cart-plus"></i></button>
                      </div>
                    </div>
                </div>

            </div>

        </fieldset>
    </form>
</%block>