<%inherit file="base.htm" />

<%block name="content">
        <h3>This is the terms page</h3>
        <p>These are the terms... The name "Colonial Heritage Foundation" is another name for the Society for the Preservation of America's Founding Values, Inc., which is a 501(3)(c) public charity...etc.
            <br/><br/>Do you accept these terms?</p>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger">Decline</button>
            <button type="button" class="btn btn-success">Accept</button>
        </div>

</%block>